# Database Configuration (Neon PostgreSQL & Neon Data API)
DATABASE_URL="postgresql://neondb_owner:npg_siJbygI2dXB7@ep-icy-dream-axnybwns-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEON_DATA_API_URL="https://ep-icy-dream-axnybwns.apirest.c-4.us-east-2.aws.neon.tech/neondb/rest/v1"

# App & Auth Configuration
NEXTAUTH_SECRET="super-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Multi-branch Default
DEFAULT_BRANCH_ID="branch-main"

# Thermal Printer Default Config
THERMAL_PRINTER_TYPE="WEB_SERIAL" # WEB_SERIAL or NETWORK
